<!DOCTYPE html>
<html lang="en">

<head>
	<%- head %>
	<title><%= title %></title>
	<%- styles %>
</head>

<body data-nav-path="<%= navPath.join('/') %>">
	<%- header %>
	<%- body %>
	<%- footer %>
	<%- global %>
	<%- modules %>
	<%- scripts %>

</body>

</html>